/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


*, ::after, ::before {
  box-sizing: border-box;
}
*/
html {
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  .clean-navbar.fixed-top+.page {
    padding-top: 3rem;
}
}


.hero {
  background-image:url("../src/img/realestate2.jpg");
  background-position: center;
  color:rgba(0, 0, 0, 0.212);
}

.hero input {
  height: 48px;
  padding-bottom: 3px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0 important!;
}

.btn {
  border-radius: 0;
}

.footer-copyright {
  margin-top: 0;
}

.page-footer {
  height: 80px;min-height: none;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}
.listing {
  margin-bottom: 15px;
}
.card-body {
  padding: 20px;
}
.clean-card .info {
  padding: 20px !important;
}
.card-title {
  font-size: 1.3em;
  font-weight: bold;
}
.card-text2 {
  font-size: .75em;
}
.info2 {
  font-size: .6em;
  font-weight: bold;
  position: relative;
  top: 232px;
  z-index: 100;
  text-align: right;
  padding: 10px;
  color: #fff;
  box-shadow: 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
  .listing {
    margin-bottom: 0px;
  }
}